book/*
.env
.vscode/**
book/exercises/data/**
**/.ipynb_checkpoints/**
TODO.md
**/archive/**
quarto_webpage/_site/*
quarto_webpage/_output*
quarto_webpage/.quarto/*
quarto_webpage/_*.local
**/.jupyter_cache


